body.filament-login-page {
    background: url('/images/fondo-login.png') no-repeat center center fixed;
    background-size: cover;
}

.filament-login-page .fi-simple-header {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}

.filament-login-page .fi-simple-main {
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 16px;
}
